html,
body {
  min-width: 1100px;
  min-height: 1500px;
}

body {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 989px;
  margin: 0 auto;
}

.head { 
  position:fixed;
  top:0;
  left: 457px;
  margin-bottom: 19px;
  z-index:1000;
  /* Временно для сетки */
  height: 155px;
}
.main-navigation {
    width: 959px;
    padding: 24px 0;
     /* Временно для сетки */
    min-height: 155px;
}
.site-navigation {
    margin: 0;
    padding: 0;
    width: 959px;
    display: flex;
    justify-content: space-between;
}
.navigation-list {
    list-style: none;
    background-color: #777777;
}
.unit-1 {
    width: 122px;
    margin: 0;
    padding: 0;
    /* Временно для сетки */
    min-height: 108px;
}
.unit-2 {
    width: 280px;
    margin: 0;
    padding: 0;
     /* Временно для сетки */
    min-height: 108px;
}
.unit-3 {
    width: 512px;
    margin: 0;
    padding: 0;
     /* Временно для сетки */
    min-height: 108px;
}
.unit-3 p {
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.navigation-info {
    padding-left: 345px;
    padding-top: 15px;
}
.index-columns {
    margin: 0;
    padding: 0;
    width: 959px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    padding-top: 20px;
    margin-bottom: 33px;
    margin-top: 155px;
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
}
.left-column {
    width: 184px;
}
.right-column {
    width: 755px;
}
.left-column-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #ffffff;
    
}
.left-column-item {
    margin: 0;
    padding: 0;
    background-color: #777777;
     /* Временно для сетки */
    min-height: 132px;
}
.left-column-item p {
padding: 16px 17px 16px;    
}
.left-column-item:last-child {
    margin-top: 605px;
}
.target {
    background-color: #dcdcdc;
    padding: 24px 21px;
    margin-bottom: 19px;
}
.target h3 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 28px;
}
.target-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    margin-bottom: 28px;
}
.catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 755px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog-item {
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
    width: 136px;
    margin-bottom: 19px;
     /* Временно для сетки */
    min-height: 153px;
}
.catalog-item:focus,
.catalog-item:hover {
 box-shadow: 0 8px 50px rgba(0, 0, 0, 0.7);
}
.catalog-item:last-child {
    margin-right: auto;
    margin-left: 19px;
}
.description {
    width: 755px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.description-item {
    margin: 0;
    padding: 0;
    padding: 20px 17px;
    background-color: #dcdcdc;
    width: 368px;
}
.main-footer {
    margin: 0;
   margin-bottom: 30px;
   flex: 0 0 auto;
}
.main-footer .container {
    display: flex;
    justify-content: space-between;
}
.footer-blocks {
    background-color: #777777;
    color: #ffffff;
}
.footer-block-3 {
    background-color: #ffffff;
}
.footer-block-1 {
    width: 298px;
}
.footer-block-1 ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 180px;
}
.footer-block-2 {
    width: 297px;
}
.footer-block-3 {
    width: 308px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.footer-block-3 p {
    width: 308px;
    background-color: #777777;
     /* Временно для сетки */
    min-height: 75px;
    margin: 0;
}
.footer-block-3 p:first-child {
    margin-bottom: 28px;
}
.footer-block-1 ul {
    margin: 0;
    padding: 10px 25px;
    list-style: none;
}
.footer-block-2 ul {
    margin: 0;
    padding: 13px 25px;
    list-style: none;
}


